_drafts/
_site/
node_modules/
.history/
logs/*.log*
commands/
.idea/
package-lock.json

.DS_Store
npm-debug.log
*.swp
agentx.json
nohup.out
agentx.json
filemaps.json
sftp-config.json
.eslintrc
.vscode